@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  overflow: hidden;
  z-index: -1;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

svg path {
  transition: .1s;
}

svg:hover path {
  d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
}

body {
  background: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

header h1 {
  font-size: clamp(28px, 6vw, 50px);
  font-weight: 600;
}

header h3 {
  font-size: clamp(16px, 3vw, 28px);
  font-weight: 300;
} 



header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

main {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10vh 0 80vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

main::after {
  border-right: 2px dashed #eee;
  content: '';
  position: absolute;
  top: calc(10vh + 1.618em);
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
}

footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

small {
  opacity: .5;
  font-weight: 300;
}

small a {
  color: inherit;
}

.logo{
  color: #ffffff;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 10;
}

.hamburger {
  width: 30px;
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.menu a {
  color: #ffffff;
 
  text-decoration: none;
 
  padding: 8px 12px;
 
  background-color: gray;
 
  border-radius: 3px;
  transition: background 0.3s, color 0.3s;
}


.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: #333333;
  color: white;
}

@media (max-width: 600px) {

  .svg-container {
    height: 300px;
  }

  .hamburger {
    display: block;
  }

  .menu {
    position: fixed;
    top: 45px;
    right: -400px;
    width: 70vw;       
    max-width: 300px;
    min-width: 180px;
    background: #525252d7;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease;
    z-index: 1001;
    border-radius: 10px;
  }

  .menu.active {
    right: 0;
  }

  .menu a {
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 6px;
    background: rgba(255,255,255,0.15);
  }
}